$item_width: 300px;
$sidebar_width: 300px;
$color_primary: #f5f5f5;
$color_secondary: #fff;
$color_link: #81c483;
$anim-time: 0.5s;

@import "base";
@import "mediaqueries";


.practice-title {
  .right {
    text-align: right;
    margin-right: 15%;
  }

  .indent {
    margin-left: 18%;
  }

  .date-sub {
    position: relative;
    top: -24px;
    right: 65px;
    font-size: 12px;
  }
  
  .spec {
    line-height: 12px;
  }

  .comission {
    position: relative;
    font-size: 12px;
    top: -25px;
    left: 326px;
  }

  .new-part {
    padding-top: 15px;
  }

  .sign {
    position: relative;
    top: -26px;
    font-size: 12px;
    left: 135px;

     span {
       font-size: 10px;
       padding-left: 22px;
     }
  }

  .protocol {
    position: relative;
    top: -26px;
    font-size: 12px;
    left: 100px;
    span {
      padding-left: 80px;
    }
  }
}

.practice-info {
  padding-top: 60px;
}

.bold {
   font-weight: bold;
 }

.italic {
  font-style: italic;
}

.center {
  text-align: center !important;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

.additional {
  padding-top: 20px;
}

.right-float {
  float: right;
}

.practice-table th,
.practice-table td {
  border: 1px solid #ddd;
  text-align: center;
}

.padding div {
  padding-left: 15px;
}